flask
python-dotenv
transformers
torch
textblob
requests
google-api-python-client
wikipedia
vaderSentiment
datasets
pandas
numpy
scikit-learn
beautifulsoup4
matplotlib
seaborn
accelerate
sentencepiece
gradio
evaluate
scipy
bitsandbytes
safetensors
